.navbar-toggler {
    background-color: rgba(255, 255, 255, 0.1);
}

.top-row {
    height: 3.5rem;
    background-color: rgba(0,0,0,0.4);
    display: flex; /* Adăugăm flex pentru a asigura elementele pe o linie */
    align-items: center;
}


.navbar-brand {
    font-size: 1.1rem;
    position: fixed;
}

.oi {
    width: 7rem;
    font-size: 1.1rem;
    vertical-align: text-top;
}

.nav-item {
    text-align: left;
    font-size: 0.9rem;
    
}

    .nav-item ::deep a {
        color: #d7d7d7;
        border-radius: 4px;
        height: 3rem;
        display: flex;
        align-items: center;
        line-height: 3rem;
    }

.nav-item ::deep a.active {
    background-color: rgba(255,255,255,0.25);
    color: white;
}

.nav-item ::deep a:hover {
    background-color: rgba(255,255,255,0.1);
    color: white;
}

@media (min-width: 641px) {
    .navbar-toggler {
        display: none;
    }

    .collapse {
        /* Never collapse the sidebar for wide screens */
        display: block;
    }
}

.user-link {
    cursor: pointer;
    text-decoration: underline;
    color: #fff;
}

.user-popup {
    position: absolute;
    top: 30px;
    right: 10px;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 10px;
    z-index: 9999;
}

.popup-button {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 8px 16px;
    margin-right: 10px;
    cursor: pointer;
}

.popup-button:hover {
    background-color: #0056b3;
}

.popup-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 9998;
}

.nav-item:not(:last-child) {
    margin-right: 10px;
}

