
    .hashtag-container {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .hashtag-box {
        margin: 10px;
        padding: 10px;
        border: 1px solid #ccc;
        position: relative;
    }

    .hashtag-image {
        width: 300px;
        height: auto;
    }

    .user-info {
        margin-top: 10px;
    }

    .search-form {
        display: flex;
        align-items: flex-end;
        margin-top: 20px;
    }

    .search-bar {
        position: relative;
    }

    .search-icon {
        position: absolute;
        top: 50%;
        left: 10px;
        transform: translateY(-50%);
        color: #6c757d;
    }

    .search-button {
        width: auto;
    }

    .admin-actions {
        margin-top: 20px;
    }

    .add-button {
        width: auto;
    }

    .view-activity-button {
        width: auto;
    }

    .show-hide-button {
        width: auto;
    }

    .user-activity {
        margin-top: 20px;
    }

    .add-hashtag-popup {
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        padding: 20px;
        background-color: #fff;
        border: 1px solid #ccc;
        box-shadow: 0 2px 6px rgba(0, 0, 0, 0.15);
    }

    .delete-button {
        position: absolute;
        top: 10px;
        right: 10px;
        display: block; /* or "none" depending on your intended behavior */
    }
    

    .popup-button {
        background-color: #007bff;
        color: #fff;
        border: none;
        padding: 8px 16px;
        margin-right: 10px;
        cursor: pointer;
    }

    .popup-button:hover {
        background-color: #0056b3;
    }

    .user-popup {
        position: absolute;
        top: 30px;
        right: 10px;
        background-color: #fff;
        border: 1px solid #ccc;
        border-radius: 4px;
        padding: 10px;
        z-index: 9999;
    }

    .popup-overlay {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: rgba(0, 0, 0, 0.5);
        z-index: 9998;
    }

    .graph {
        position: relative;
        height: 55vh;
        width: 100vh;
        margin-left: 200px;
    }
