#heading {
    color: #1a000f; /* Change the color to your preferred one */
    font-size: 36px; /* Change the font size to your preferred one */
    font-family: Arial, sans-serif; /* Change the font family to your preferred one */
    font-weight: bold; /* Make the text bold */
    text-align: center; /* Align the text to the center */
    margin: 20px 0; /* Add some margin around the heading */
}

.word-cloud {
    height: 90vh;
    margin: 0 auto;
    position: relative;
    text-align: center;
    border: 1px solid #000;
    padding: 20px;
    overflow: hidden;
}

.word-cloud span {
    position: absolute;
    transform: translate(-50%, -50%);
}

.word-cloud-container {
    position: relative;
    width: 85%;
    height: 85%;
}

.word-cloud-item {
    position: absolute;
}
