
    /* Styles for other elements */

    .user-info {
        text-align: right;
        margin-top: 10px;
    }

    .search-heading {
        text-align: left;
    }

    /* User Popup Styles */
    .user-popup {
        position: fixed;
        top: 60px;
        right: 20px;
        background-color: #fff;
        border: 1px solid #ccc;
        border-radius: 4px;
        padding: 10px;
        z-index: 9999;
    }

    .popup-overlay {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: rgba(0, 0, 0, 0.5);
        z-index: 9998;
    }

    .popup-content {
        margin-bottom: 10px;
        cursor: pointer;
    }

    .user-link {
        cursor: pointer;
        text-decoration: underline;
    }
   
.search-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}

.search-bar {
    position: relative;
    width: 200px; /* Adjust the width as desired */
}

.search-input {
    width: 100%;
}

.hashtag-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.hashtag-box {
    margin: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    width: 300px;
    height: 500px;
    text-align: center;
}

.hashtag-image {
    width: 100%;
    max-width: 200px; /* Adjust the maximum width as desired */
}
.popup-button {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 8px 16px;
    margin-right: 10px;
    cursor: pointer;
}

.popup-button:hover {
    background-color: #0056b3;
}

.container {
    position: relative;
    display: inline-block;
    text-align: left; /* Aliniază conținutul la stânga */
    margin-right: -10px; /* Adaugă o margine de 1px la dreapta */
}

.image {
    width: 50px; /* Ajustează dimensiunea imaginii aici */
    display: block;
}

.number_nomination {
    position: absolute;
    top: -5px; /* Ajustează poziția verticală a numărului */
    left: 20px; /* Ajustează poziția orizontală a numărului */
    font-size: 24px; /* Ajustează dimensiunea fontului pentru număr */
    color: white; /* Ajustează culoarea textului pentru număr */
    padding: 5px 10px; /* Ajustează padding-ul pentru număr */
    border-radius: 5px; /* Ajustează colțurile rotunjite pentru număr */
}

.number_award {
    position: absolute;
    top: 45px; /* Ajustează poziția verticală a numărului */
    left: 20px; /* Ajustează poziția orizontală a numărului */
    font-size: 24px; /* Ajustează dimensiunea fontului pentru număr */
    color: white; /* Ajustează culoarea textului pentru număr */
    padding: 5px 10px; /* Ajustează padding-ul pentru număr */
    border-radius: 5px;
}

.image-container {
    display: flex;
    align-items: center;
    margin-right: 30px; /* Ajustează spațiul dintre cele două imagini */
    margin-left:-20px;
    height: 70%;
}

.movie-info {
    display: flex;
    flex-direction: column;
}
